<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Contact</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <header class="header">
        <div class="header-text">Add a New Contact</div>
    </header>

    <div id="form-container">
        <form action="{{ url_for('add') }}" method="post" id="add-contact-form">
            <div>
                <label for="name">Name:</label><br>
                <input type="text" name="name" class="name" required>
            </div>

            <div>
                <label for="surname">Surname:</label><br>
                <input type="text" name="surname" id="surname" required>
            </div>

            <div>
                <label for="birthdate">Date of Birth:</label><br>
                <input type="date" name="birthdate" id="birthdate" required>
            </div>

            <div>
                <label for="nationality">Nationality:</label><br>
                <input type="text" name="nationality" id="nationality" required>
            </div>

            <div>
                <label for="industry">Industry/Work Field:</label><br>
                <input type="text" name="industry" id="industry" required>
            </div>

            <div>
                <label for="custom-tag1">Custom tag 1 (optional):</label><br>
                <input type="text" name="custom-tag1" id="custom-tag">
            </div>

            <div>
                <label for="custom-tag2">Custom tag 2 (optional):</label><br>
                <input type="text" name="custom-tag2" id="custom-tag">
            </div>

            <div>
                <label for="custom-tag3">Custom tag 3 (optional):</label><br>
                <input type="text" name="custom-tag3" id="custom-tag">
            </div>

            <div><button type="submit" id="submit-btn">Add New Contact</button></div>

        </form>
    </div>
    
</body>
</html>